{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<section class="section">
    <div class="container">
      <h1 class="title columns is-centered">
        Diabetes Machine Learning Project
      </h1>
      <p class="subtitle">
        This website determine if you are at high risk of diabetes by using machine learning.
        You will be given a questionnaire of 16 questions. The model will predict whether or 
        not you are at high risk of diabetes using your answers. <strong>This is not
        a replacement for a doctor.
        </strong>
      </p>
      <div class="columns is-mobile is-centered">
            <button class="button is-link" onclick="window.location.href='questionnaire';">Begin Questionnaire</button>
        </div>
    </div>
  </section>
{% endblock %}